CryptoStickGUI.pro.user*
build-*-Debug
*~
*.o
*.lst
.*
!/.travis.yml
!/.gitignore
*.orig
*tags

*.elf
*.lss
*.map
*.hex
*.buildinfo
*.sym
*.bin
*.sig
*.sha256
*.zip
cmake-build-debug
CMakeLists.txt
tmp
