CryptoStickGUI.pro.user*
build-*-Debug
*~
*.o
*.lst
.*
!/.travis.yml
!/.gitignore
*.orig
*tags

build/gcc/nitrokey-pro-firmware.elf
build/gcc/nitrokey-pro-firmware.sym
build/gcc/nitrokey-pro-firmware.hex
build/gcc/nitrokey-pro-firmware.lss
build/gcc/nitrokey-pro-firmware.map
build/gcc/nitrokey-pro-firmware.hex
build/gcc/nitrokey-pro-firmware.sym
