CryptoStickGUI.pro.user*
build-*-Debug
*~
*.o
*.lst
.*
!/.travis.yml
!/.gitignore
*.orig
*tags

build/gcc/crypto.elf
build/gcc/crypto.sym
build/gcc/crypto.hex
build/gcc/crypto.lss
build/gcc/crypto.map
build/gcc/crypto.hex
build/gcc/crypto.sym
